.left {
  height: 100%;
  padding: 40px;
  overflow-y: scroll;
}

.right {
  display: flex;
  background-color: #EFF2f9;
  height: 100%;
  overflow-y: scroll;
  justify-content: center;
}

/* Header Styling */
h1 {
  margin-top: 40px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 22px;
}

.logo {
  width: 30px;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 30px;
  font-weight: 800;
  color: #38B6FF;
  margin-left: auto;
  margin-right: auto;
}

/* Personal Details Component Styling*/
.personal-details {
  margin-top: 50px;
}

.container {
  display: flex;
  gap: 40px;
  padding: 0;
}

.form-left, .form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font-size: 17px;
  font-weight: 800;
  color: #505b5b;
}

input {
  margin-top: 8px;
  padding: 10px;
  font-size: 17px;
  background-color: #EFF2f9;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input:focus {
  box-shadow: 0 2px 0 rgba(0, 123, 255, 0.8);
}

/* Professional Summary Component Styling*/
.professional-summary {
  margin-top: 40px;
}

.professional-summary-label {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

.professional-summary-label textarea {
  margin-top: 20px;
}

.employment-label textarea {
  margin-top: 5px;
}

.professional-summary-label textarea, .employment-label textarea{
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 15px;
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #EFF2f9;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
}

.professional-summary-label textarea:focus {
  box-shadow: 0 2px 0 rgba(0, 123, 255, 0.8);
}

/* Education component Styling*/
.education {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 30px;
}

.form-row label {
  flex: 1;
}

.add-education-button {
  background: transparent;
  color:rgb(26, 145, 240);
  padding: 10px 10px 10px 20px;
  width: 100%;
  text-align: start;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  transition: all .15s ease-in-out;
}

.add-education-button:hover {
  background: #cfe2ff9f;
}

.fa-plus {
  margin-right: 8px;
}

/* CV Styling */
.cv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 800px;
  height: 1100px;
  margin: 40px;
  background: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cv-left {
  background-color: #0E374E;
  padding: 30px;
  white-space: normal;
}

.cv-right {
  padding: 30px;
}

.subheader {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 800;
  width: 100%;
  border-bottom: 1px solid white;
}

.wrapper {
  margin-top: 25px;
  width: 207px;
  word-wrap: break-word;

}

.cv-left h2 {
  font-size: 18px;
  font-weight: 800;
  margin-top: 3px;
  margin-bottom: 3px;
}

.white {
  color: white;
}

.dark-blue {
  color: #0E374E;
}

/* Skills Styling */
.skills-form {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

#skill {
  flex: 1;
  margin: 0px;
}

.skill-button {
  padding: 8px;
  width: 85px;
  height: 46px;
  border: 1px solid rgb(26, 145, 240);
  border-radius: 12px;
  margin-left: 10px;
  color:rgb(26, 145, 240);
  background: transparent;
  font-weight: 800;
  transition: all .2s ease-in-out;
}

.skill-button:hover {
  color: white;
  background: rgb(26, 145, 240);
}

.skill-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(26, 145, 240);
  border-radius: 5px;
}

.fa-trash {
  color: rgb(26, 145, 240);
  cursor: pointer;
}

/* Accordion Styling */
.accordion-body {
  padding: 20px;
}

/* Scrollbar Styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5d0f8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #629aee; 
}